<template name="Directory_Event">

  <div class="card">
    <div class="content">
      <div class="header">
        {{ event.eventName }}
      </div>
      <div class="meta">
        {{ event.creator}}
      </div>
      <div class="description">
        <div class="column">
          {{ event.eventLocation }}
          {{ event.maxPeople }}
          {{ event.additional }}
        </div>
        {{ event.eventStart }}
        {{ event.eventEnd }}
        {{ event.tags }}
      </div>
      <div style="margin-top: 10px">
        {{#each tag in event.tags}}
          <a style="margin-bottom: 2px" class="ui teal tag small label">{{tag}}</a>
        {{/each}}
      </div>

    </div>
    <div class="extra content">
      <div class="ui equal width center aligned grid">
        {{#if event.eventAttending }}
          //display # of people attending, not list of people attending
          <div class="column">{{ event.eventAttending.length }}></div>
        {{/if}}
      </div>
    </div>
  </div>

</template>